.menuInferiorDivPai {
   display: flex;
   margin-top: 18px;
   justify-content: space-between;
   align-items: center;
   background-color:  #fe0000;
   color: #fff;
   padding-bottom: 30px;
}

.menuInferiorDivPai h1 {
   display: inline-block;
   margin-right: 200px;
   margin-bottom: 0;
   font-size: 2.5rem;
   color: white;
   text-transform: uppercase;
   font-weight: bold;
   text-decoration: none;
}

.menuInferiorDivPai a:last-child {
   margin-right: 0;
}

.menuInferiorDivPai svg {
   color: white;
}

#basic-nav-dropdown{
   color: #fff;
}

.menuInferiorDivPai a{
   color: #fff;
   text-decoration: none;
}
