.menuSuperiorDivPai .container{
   text-align: right;
   background-color:  #c20102;
   padding-left: 100px;
}

.menuSuperiorDivPai .container p {
   display: inline-block;
   margin: 0;
   color: white;
   text-transform: uppercase;
   font-size: 0.7rem;
}

.menuSuperiorDivPai .container span {
   margin: 0 20px;
   color: #fff;
}

.menuSuperiorDivPai .container p > svg {
   color: white;
   font-size: 1.7rem;
   position: relative;
   top: -1px;
   margin-right: 20px;
}

.menuSuperiorDivPai .container > a{
   color: yellow;
   font-size: 0.7rem;
   text-decoration: none;
}

.menuSuperiorDivPai .container > a:last-child{
   margin-right: 125px;
}
